

.follow {
    background-color: #262626;
    padding: 100px 0px;
    color: #fff;

    // .follow__container

    &__container {}

    // .follow__icon

    &__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__icon:not(:last-child) {
        margin-right: 20px;
      }


    &__wrap{
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    &__txt{
        margin-top: 40px;
        color: #fff;
    }

}

